a {
    color: #e84610;
    background-color: brown;
    font-size: 16px;
    text-decoration: none;
  
    transition-property: color, background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    /* or transition: color 1s ease-in-out; */
}

a:hover {
    background-color: yellow; /* #bada55; */ /* light green */
    color: #000; /* 000=black */
   
}

